.sprite {
	position: absolute;
	display: inline-block;
	width: 66px;
	height: 135px;
	margin: auto;
	background: url(subzero.jpg) no-repeat left;
}

.sprite:hover {
	animation: spritemove 0.3s steps(6);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes spritemove {
	from {
		background: url(subzero.jpg) 0px 0px;
	}
	to {
		background: url(subzero.jpg) -396px 0px;
	}
}