* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial;
}

body {
	position: relative;
	width: 960px;
	height: 2048px;
	margin: 24px auto;
}

header > div {
	display: inline-block;
}

.logo {
	float: left;
	width: 122px;
	height: 108px;
	background-color: gray;
	background: url(images/logo.png) no-repeat center;
	background-size: contain;
	margin-right: 23px;
}

.contact {
	position: absolute;
	top: 0;
	left: 131px;
	width: 279px;
	height: 108px;
	background-image: linear-gradient(#111, #33d);
	margin-right: 22px;
}

.more {
	float: right;
	width: 513px;
	height: 108px;
	background-image: linear-gradient(#111, #33d);
}

.more__contacts {
	padding: 25px;
	float: right;
	color: white;
}

.line-pre-content {
	width: inherit;
	display: inline-block;
	border-top: 1px solid #33d;
	border-bottom: 0;
	margin: 22px 0px;
}

.content {
	width: 960px;
	height: 773px;
}

.left-menu {
	width: 184px;
	height: 335px;
	background-image: linear-gradient(#3d5, #33d);
}

.left-menu__text {
	padding: 19px 32px 17px 13px;
}