* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
}

a {
	text-decoration: none;
	color: darkorange;
}

a:hover {
	background-color: #444;
}

iframe {
	position: relative;
	left: 150px;
	width: 650px;
	height: 340px;
}

p {
	font-family: Courier;
	font-size: 15pt;
}

footer {
	background-color: #333;
	font-family: courier;
}

ul {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}

.navigation {
	display: inline-block;
	margin-right: 20px;
	font-family: Courier;
	font-size: 1.7em;
	margin: 20px 20px;
}

.title {
	text-align: center;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: darkorange;
}

.news {
	padding: 10px 25px;
}

.content {
	width: 75%;
}

.othernews {
	float: right;
	width: 25%;
	text-align: left;
}

.link__other-news {
	font-size: 25px;
	margin-bottom: 25px;
}

.footer__title {
	display: inline-block;
	font-size: 25px;
	padding: 0;
	margin: 0;
}

.inline {
	display: inline-block;
}

.footer-links {
	display: inline-block;
	justify-content: center;
}