* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Courier;
}

header {
	background-color: brown;
}

.header-a {
	color: darkorange;
}

iframe {
	position: relative;
	left: 150px;
	width: 650px;
	height: 340px;
	margin: 20px 0px;
}

p {
	font-size: 15pt;
}

a {
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	background-color: #222;
}

footer {
	display: flex;
	justify-content: space-around;
	background-color: brown;
	padding-bottom: 25px;
}

.navigation-ul {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}

.navigation {
	display: inline-block;
	margin-right: 20px;
	font-size: 1.7em;
	margin: 20px 20px;
}

.title {
	text-align: center;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: darkorange;
}

.news {
	padding: 20px 25px;
}

.content {
	width: 75%;
}

.othernews {
	float: right;
	width: 25%;
	text-align: left;
}

.link__other-news {
	font-size: 25px;
	margin-bottom: 25px;
	color: darkorange;
}

.inline {
	display: inline-block;
}

.footer-links {
	display: inline-block;
	list-style-type: none;
}

.footer-links > li > a {
	color: darkorange;
}

.header-for-footer {
	color: white;
	padding: 15px 0px;
}