.border-for-ball {
	width: 500px;
	height: 500px;
	background-image: linear-gradient(#e66, #aac, #99e);
	margin: auto;
}

.ball-icon {
	display: inline-block;
	width: 100px;
	height: 100px;
	transition: all 0.5s ease;
}

#label-ball {
	display: inline-block;
}

#ball {
	display: none;
}

#ball:checked ~ #label-ball{
	animation-name: moveball;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes moveball {
	0% {
		transform: translate(0px) rotate(50deg);
	}
	25% {
		transform: translate(100px) rotate(100deg);
	}
	50% {
		transform: translate(200px) rotate(150deg);
	}
	75% {
		transform: translate(300px) rotate(200deg);
	}
	100% {
		transform: translate(400px) rotate(250deg);
	}
}